[submodule "docs-sqlacc"]
	path = docs-sqlacc
	url = ../docs-sqlacc
[submodule "docs-sqlpay"]
	path = docs-sqlpay
	url = ../docs-sqlpay
[submodule "docs-sqlconnect"]
	path = docs-sqlconnect
	url = ../docs-sqlconnect
